
iframe{
    padding: 0;
    border: none;
    outline: none;
}

.footer{
    background-color: #141313;

    ul{
        display: flex;
        justify-content: center;
        margin-bottom: 0;
        padding: 10px 0;
        
        

        li{
            text-decoration: none;
            color: #fff;
            padding-left: 30px;

            a{
                color: #fff;
                font-size: 30px;
                transition: 0.5s;

                &:hover{
                    color:#ebd489;
                }
            }
        }
    }
 

}